/* TaskEditModal.css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    position: relative;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .modal-header h2 {
    margin: 0;
  }
  
  .modal-header button {
    background: #ff5c5c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-header button:hover {
    background: #e53e3e;
  }
  
  .modal-footer {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button {
    background-color: #005a4e;
    color: #fff;
  }
  
  .save-button:hover {
    background-color: #00453a;
  }
  
  .cancel-button {
    background-color: #ff5c5c;
    color: #fff;
  }
  
  .cancel-button:hover {
    background-color: #e53e3e;
  }
  